<% if @focus_capacities %>
  // new capacity was added for the date that the user is focusing on 
  // so we need to update the focus table with the new capacity
  $("#capacity_today_table > tbody").append("<%= escape_javascript(render(:partial => 'capacities/capacity', 
                                      :locals => {:capacity => @capacity})) %>");
  // Now we shall hookupl all sorts of listeners on the newly created capacity row
  $("#edit_capacity_<%=@capacity.id%> > .covered_check_box").click( function(){
    var url  = '/capacities/' + $(this).attr('id')
    var data = { fulfilled:$(this).is(':checked') , _method: 'put'}
      $.post( url, data, null,"script");
  });

  $("#<%=@capacity.id%> > .edit > .edit_link").click( function(){
    var url = $(this).attr('href');
    $.ajax({
      type: 'get',
      url: url,
      dataType: "script"
    });
    return false;
  })

  $("#<%=@capacity.id%> > .delete > .delete_link").click( function(){
    $.ajax({
        type: "delete",
        url: $(this).attr("href"),
        data: "&authenticity_token="+encodeURIComponent(window.rails_authenticity_token),
        dataType: "script"
    });
    return false;
  });

<% elsif @capacities %>
  // the new capacity was added for a future date. 
  // so we need to append the capacity if there is already capacity for that future date
  // or we need to create a new box and add the capacity to the new box if there is not already capacity for that date.

  // the case where we are appending capacity to an existing box
  var date = "<%= @capacities_date.strftime("%m_%d_%y") %>";
  if( $("#"+date).size() > 0 ){
    $("#"+date).html("<%= escape_javascript(render(:partial => 'capacities/future_capacity',    
                                                   :locals  => {:capacities=> @capacities[@capacities_date],:date => @capacities_date })) %>");
    $("#" + date ).parent().effect("highlight");
  }else { // if we could not find a div with the capacities date, then we need to create a new future box
    // load the future capacitie's partials. 
    // set the start index to the new entry
    // highlight the new entry
  }
<% end %>
// put the form away . . . for now
$("#capacity_form").slideToggle();
// send the flash message to the screen
$("#message").slideToggle( function(){
  $(this).html("<p class='notice'><%= flash[:notice] %></p>")
  setTimeout( function(){
    $("#message").slideToggle();
  }, 
  7000);
});
// remove the flash from the session
<% flash[:notice] = "" %>



