$(document).ready(function(){
var date = '<%= @capacity.available_on.strftime("%m_%d_%y") %>';
<% if @focus_capacities %>
  // new capacity was added for the date that the user is focusing on 
  // so we need to update the focus table with the new capacity
  $("#capacity_today_table > tbody").append("<%= escape_javascript(render(:partial => 'capacities/capacity', 
                                      :locals => {:capacity => @capacity})) %>");
  $("#<%=@capacity.id%>").effect('highlight',{},3000);
  // Now we shall hookupl all sorts of listeners on the newly created capacity row
  $("#edit_capacity_<%=@capacity.id%> > .covered_check_box").click( function(){
    var url  = '/capacities/' + $(this).attr('id')
    var data = { fulfilled:$(this).is(':checked') , _method: 'put'}
      $.post( url, data, null,"script");
  });

  $("#<%=@capacity.id%> > .edit > .edit_link").click( function(){
    var url = $(this).attr('href');
    $.ajax({
      type: 'get',
      url: url,
      dataType: "script"
    });
    return false;
  })

  $("#<%=@capacity.id%> > .delete > .delete_link").click( function(){
    if( confirm("Are you sure?")){
      $.ajax({
          type: "delete",
          url: $(this).attr("href"),
          data: "&authenticity_token="+encodeURIComponent(window.rails_authenticity_token),
          dataType: "script"
      });
    }
    return false;
  });

<% elsif @capacities %>
   $("#capacities").replaceWith("<%= escape_javascript(render(:partial => 'capacities/future_capacities',    
                                                          :locals => {  :capacities=> @capacities })) %>");
  /* 
  * Setup the scoller after we have replaced it's contents
  */
  var api = $("div.scrollable").scrollable({
      vertical: true,
      size: 1,
      keyboard:false, 
      api: true
  });
  $("div.scrollable").mousewheel();
  // scroll to today after load
  var markedCapacity = $("#"+date).attr("rel");
  api.seekTo(parseInt(markedCapacity-1))
  $("#"+date).effect("pulsate",{times:3},500)

<% end %>

// put the form away . . . for now
$("#capacity_form").slideToggle();
// send the flash message to the scree
$("#message").slideToggle( function(){
  $(this).html("<p class='notice'><%= flash[:notice] %></p>")
  setTimeout( function(){
    $("#message").slideToggle();
  }, 
  7000);
});
// remove the flash from the session
<% flash[:notice] = "" %>
}); // end the document ready business
