#center
  #focus_capacities
    = render :partial => 'capacities/focus', :locals => { :focus_capacities => @focus_capacities }
  = link_to image_tag('buttons/add_more_capacity.png'), new_capacity_url, :id=> "AddMoreCapacity"
  #capacity_form{ :style => "display:none" }
    = render :partial => 'capacities/new_form', :locals => {:capacity => @new_capacity }

#right
  #move_back
    = link_to image_tag('buttons/up.png'), "#"
  #capacities
    %ul{:id => 'capacities_list',:class => 'jcarousel jcarousel-skin-tango'}
      - @capacities.each do |date, capacities| 
        %li
          .capacity{ :id => date.strftime('%m_%d_%y') }
            %h3= link_to date.strftime('%A %m/%d'), capacities_url(:focus_date => date), :title => date.strftime('%m_%d_%y')
            %table
              - capacities.each do |capacity|
                %tr
                  %td -
                  %td.location= capacity.location 
                  %td.driver= capacity.drivers.pop.name
  #move_forward
    = link_to image_tag('buttons/down.png'),"#"
