#center
  = render :partial => 'capacities/focus', :locals => { :focus_capacities => @focus_capacities }
  = link_to image_tag('buttons/add_more_capacity.png'), new_capacity_url, :id=> "AddMoreCapacity"
  #new_capacity
    #new_capacity_form{ :style => "display:none" }
      - form_for @new_capacity do |form|
        .form_box
          = form.label :location, "Location"
          = form.text_field :location

          = label_tag :driver_name, "Driver"
          = text_field_tag :driver_name, nil, :class => 'driver_autocomplete'

          = form.label :priority, "Priority"
          = form.select :priority, {:normal => 0, :high => 1, :top => 2}
        .form_box_right
          = form.label :notes, "Notes"
          = form.text_field :notes
          = form.label :available_on, "Available On"
          = form.date_select :available_on
        %p.buttons
          = form.submit "save", :name => 'save'
          or
          = link_to "cancel", "#", :id => 'rollup', :rel => 'new_capacity_form'
#right
  #capacities.items
    = link_to "back", "#", :class => 'prev'
    - @capacities.each do |date, capacities| 
      .capacity{ :id => date.strftime('%m_%d_%y') }
        %h3= link_to date.strftime('%A %m/%d'), capacities_url(:focus_date => date), :title => date.strftime('%m_%d_%y')
        %table
          - capacities.each do |capacity|
            %tr
              %td -
              %td.location= capacity.location 
              %td.driver= capacity.drivers.pop.name
    = link_to "forward", "#", :class => 'next'
