#center
  #links
    = link_to "Print", capacities_url(:format => :pdf)
  #focus_capacities
    = javascript_tag "var FOCUS_DATE= '#{@focus_date.strftime("%Y-%m-%d")}';" 
    %h1= @focus_date.strftime("%A %m/%d")
    = render :partial => 'capacities/focus', :locals => { :focus_capacities => @focus_capacities }
  = link_to image_tag('buttons/add_more_capacity.png'), new_capacity_url, :class => "new_link"
  #capacity_form{ :style => "display:none" }
    // JS will load up a new form here when the user clicks the new button

#right
  #link
    = link_to "Today", capacities_url , :id => "today"
  #move_back
    = link_to image_tag('buttons/up.png'), "#", :class => "prevPage"
  = render :partial => 'capacities/future_capacities', :locals => {:capacities => @capacities}
  #move_forward
    = link_to image_tag('buttons/down.png'),"#", :class => "nextPage"
