#center
  #focus_capacities
    = javascript_tag "var FOCUS_DATE= '#{@focus_date.strftime("%Y-%m-%d")}';" 
    %h1= @focus_date.strftime("%A %m/%d")
    = render :partial => 'capacities/focus', :locals => { :focus_capacities => @focus_capacities }
  = link_to image_tag('buttons/add_more_capacity.png'), new_capacity_url, :class => "new_link"
  #capacity_form{ :style => "display:none" }
    // JS will load up form here when the user clicks the new button

#right
  #link
    = link_to "Yesterday", capacities_url(:focus_date => (Date.today - 1.day).strftime("%Y-%m-%d") ) 
    = link_to "Today", capacities_url 
    = link_to "Tomorrow", capacities_url(:focus_date => (Date.today + 1.day).strftime("%Y-%m-%d") ) 
  #move_back
    #actions
      = link_to image_tag('buttons/up.png'), "#", :class => "prevPage"
  #capacities{:class => "scrollable vertical"}
    .items
      - i = -1
      - @capacities.each do |date, capacities| 
        - i += 1
        %div{:id => "#{i}"}
          - if date == Date.today
            .today
              = render :partial => 'capacities/future_capacity', :locals => { :capacities  => capacities , :date => date }
          - else 
            = render :partial => 'capacities/future_capacity', :locals => { :capacities  => capacities , :date => date }
  #move_forward
    #actions
      = link_to image_tag('buttons/down.png'),"#", :class => "nextPage"
