!!!
%head
  %title Hot Sheet
  - get_css( controller ).each do |sheet|
    = stylesheet_link_tag sheet
  - get_js( controller ).each do |js|
    = javascript_include_tag js
  = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
%body
  #header
    #navigation
      = render :partial => 'shared/navigation'
    #flash
      #message
        %p.notice= flash[:notice]
        %p.error= flash[:error]
      %h1 Capacity
  #content
    = yield
